.header__logo {
  background-image: url('../../../images/logo.svg');
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 570px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    background-image: url('../../../images/logo-small.svg');
  }
}
