.header__link {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
  justify-self: end;
}

.header__link:hover {
  opacity: .6;
  cursor: pointer;
}